# balkonkraftwerk.py
tibber_api_key = None
min_power = 35
newmove_one_host = None
consider_unknown_consumers = False
unknown_consumers_offset = 0
interval = 30
# consumers.py
consumers = [
    {"host": "192.168.1.100", "name": "fridge", "type": "mystrom"},
    {"host": "192.168.1.101", "name": "TV", "type": "shelly", "generation": 1},
    {"host": "192.168.1.102", "name": "PC", "type": "shelly", "generation": 2},
]
scheduled_consumers = [
    {"from": "18:00", "until": "00:00", "power": 15, "name": "NAS"},
    {
        "from": "10:00",
        "until": "18:00",
        "power": 15,
        "name": "NAS",
        "days": ["Sat", "Sun"],
    },
]
optional_consumers = []
# unknown_consumers.py
unknown_consumers_interval = 45
# producers.py
producers = [
    {"host": "192.168.1.104", "name": "west balcony", "type": "shelly", "generation": 2}
]
# inverters.py
open_dtu_host = "open-dtu"
open_dtu_password = "openDTU42"
max_system_power = 600
inverter_shutdown_value = -50
max_inverter_limit = 180
min_inverter_limit = 18
battery_inverter_serial = None
producer_inverter_serials = []
# battery.py
charger_reference = {}
battery_resistance = 0.1
battery_full_voltage = None
battery_on_voltage = 25.6
battery_off_voltage = 24
# shelly_meter.py
shelly_3em_host = None
# tasmota_meter.py
tasmota_meter_host = None
