[Unit]
Description=balkonkraftwerk
After=redis-server.service

[Service]
Type=simple
User=balkonkraftwerk
Restart=on-failure
WorkingDirectory=/home/balkonkraftwerk/balkonkraftwerk
ExecStart=/home/balkonkraftwerk/balkonkraftwerk/balkonkraftwerk.py

[Install]
WantedBy=multi-user.target
