[Unit]
Description=Host an API to access power records of balkonkraftwerk
After=redis-server.service

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/home/pi/balkonkraftwerk/backend_fastapi.py
WorkingDirectory=/home/pi/balkonkraftwerk

[Install]
WantedBy=multi-user.target
