[Unit]
Description=balkonkraftwerk
After=redis-server.service

[Service]
Type=simple
User=pi
Restart=on-failure
WorkingDirectory=/home/pi/balkonkraftwerk
ExecStart=/home/pi/balkonkraftwerk/balkonkraftwerk.py

[Install]
WantedBy=multi-user.target
