[Unit]
Description=Push live data from balkonkraftwerk to cloud
After=redis-server.service

[Service]
Type=simple
User=balkonkraftwerk
Restart=always
WorkingDirectory=/home/balkonkraftwerk/balkonkraftwerk
ExecStart=/home/balkonkraftwerk/balkonkraftwerk/push_data.py

[Install]
WantedBy=multi-user.target
