[Unit]
Description=Tibber Pulse
After=redis-server.service

[Service]
Type=simple
User=balkonkraftwerk
WorkingDirectory=/home/balkonkraftwerk/balkonkraftwerk
ExecStart=/home/balkonkraftwerk/balkonkraftwerk/tibber_pulse.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
